{{include-entity "Head"}}
    {{include-entity "Navbar"}}
    {{include-entity "Sidebar"}}
                {{include-entity "Dashboard"}}
                {{include-entity "Stories"}}
                {{include-entity "Pages"}}
                {{include-entity "Modules"}}
                {{include-entity "Categories"}}
                {{include-entity "Menus"}}
                {{include-entity "Users"}}
                {{include-entity "Roles"}}
                {{include-entity "Permissions"}}
                {{include-entity "Affiliates"}}
{{include-entity "Footer"}} 